<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../../static/css/public.css" rel="stylesheet" />
		<link href="../../static/css/business_model.css" rel="stylesheet" />
		<script src="../../static/js/jquery-1.10.2.min.js"></script>
	</head>

	<body>
		<div class="box">
			<div class="mask"></div>
			<form class="form">
				<div class="group" style="margin-top: 30px;">
					<label for="firstname" class="col-sm-2">ID编号：</label>
					<input type="text" class="control" id="firstname" placeholder="请输入编号">
				</div>
				<div class="group section">
					<label for="lastname" class="col-sm-2">名称：</label>
					<input type="text" class="control" id="demo_datetime" placeholder="请输入名称">
				</div>
				<div class="group checkbox">
					<label for="firstname" class="col-sm-2">应用状态：</label>
					<input type="checkbox">有效
					<input type="checkbox">无效
				</div>
				<div class="group">
					<div class="col"><label for="name" class="col-sm-2">备注：</label></div>
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">提 交</button>
				</div>
			</form>
		</div>
	</body>

</html>