<%inherit file="/base.html"/>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../static/css/public.css" rel="stylesheet" />
		<link href="../../static/css/menu.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.bootstrap3.css" />
    	<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.css" />
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="../../static/js/jquery-1.10.2.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../../static/js/bootstrap-paginator.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/menu_min.js"></script>
		<script src="${STATIC_URL}js/csrftoken.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/pager/js/scro.page.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/layer/layer.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".menu ul li").menu();
			});
		</script>
	</head>

	<body>
		<!-- 业务模型 -->
		<div class="contents">
			<div class="content" style="display: block">
				<form class="collect">
					<div class="collecting">
						<label style="padding-left: 40px;">业务名称</label>
						<input type="text" id="search_name" name="search_name" placeholder="名称" />
					</div>
					<button type="button" class="glyphicon glyphicon-zoom-in" onclick="search()"></button>
					<div class="clearfloat"></div>
				</form>
				<div class="division"></div>
				<form class="click">
					<input type="button" class="button_tow" value="新 建">
				</form>
				<div class="box">
					<div class="mask"></div>
					<form class="form" id="listForm">
						<div class="group section">
							<label for="lastname" class="col-sm-2">业务名称：</label>
							<input type="text" class="control" id="bis_name" name="bis_name" placeholder="请输入业务名称">
							<input type="text" class="control" id="bis_id" name="bis_id" hidden="hidden">
						</div>
						<div class="group">
							<div class="col">
								<label for="name" class="col-sm-2">备注：</label>
							</div>
							<textarea id="mark" class="form-control" name="mark" rows="2"></textarea>
						</div>
						<div class="form-group">
							<input type="button" onclick="doClick();" class="btn btn-default" value="提 交"/>
						</div>
						<div class="glyphicon glyphicon-remove cancel"></div>
					</form>
				</div>
				
				<div class="modify">
					<div class="modify_mask"></div>
					<form class="modify_form" id="listForm">
						<div class="group section">
							<label for="lastname" class="col-sm-2">业务名称：</label>
							<input type="text" class="control" id="modify_name" name="modify_name" placeholder="请输入业务名称">
							<input type="text" class="control" id="modify_id" name="modify_id" hidden="hidden">
						</div>
						<div style="display: none" id="status_div" class="group checkbox">
							<label for="firstname" class="col-sm-2">
								<b>业务状态：</b>
							</label>
							<input type="radio" name="status" value="0">有效
							<input type="radio" name="status" value="1">无效
						</div>
						<div class="group">
							<div class="col">
								<label for="name" class="col-sm-2">备注：</label>
							</div>
							<textarea id="modify_mark" class="form-control" name="modify_mark" rows="2"></textarea>
						</div>
						<div class="form-group">
							<input type="button" onclick="goClick();" class="btn btn-default" value="提 交"/>
						</div>
						<div class="glyphicon glyphicon-remove cancel"></div>
					</form>
				</div>
				<script>
				$(".glyphicon").click(function() {
						$(".form").hide();
						$(".mask").hide();
					});
					$(".glyphicon").click(function() {
						$(".modify_form").hide();
						$(".modify_mask").hide();
					});
					
					$(".mask").click(function() {
						$(".form").hide();
						$(".mask").hide();
					});
					
					$(".modify_mask").click(function() {
						$(".modify_form").hide();
						$(".modify_mask").hide();
					});

					$(".button_tow").click(function() {
						$(".form").show();
						$(".mask").show();
					});
				</script>
				 <!-- HTML代码、服务端内容填充 -->
				<div class="queryBox" style="margin: 10px 10px 10px 10px;">
				<!-- 定义表格框架 -->
					<table id="dataGridTableJson" class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<!-- <th class="selectColumn"></th> -->
								<th>ID</th>
								<th>业务名称</th>
								<th>业务状态</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div id="page3"></div>
			</div>
		</div>
		<!-- 监控管理 -->
		<style>
			
		</style>
		<!-- js -->
		<script>
			function doClick(){
					$.ajax({
						type: 'POST',
					  	url: site_url+"do_add_business/",
					  	data: {
					  		bis_name:$("#bis_name").val(),
					  		mark:$("#mark").val()
					  	},
					  	success: function(returnData){
							if(!returnData.code){
								alert('新增失败');
								$(".form").hide();
								$(".mask").hide();
							}
							else{
								searchApplyInfo();
								$(".form").hide();
								$(".mask").hide();
							}
						},
					  	dataType: 'json'
					});
				
			}
			
			$(function() {
				// 这里写了一个构造函数
				// click_child 点击的对象
				// show_boxes 展示信息的父级盒子
				// show_box 展示的内容
				// activeName 导航高亮效果
				function changeBox(click_child, show_boxes, show_box, activeName) {
					$(click_child).removeClass(activeName);
					$(show_box).hide();
					$(this).addClass(activeName);
					$(show_boxes).find(show_box).eq($(this).index()).show();
				}
				$('.nav1').find('.li').click(function() {
					return changeBox.call(this, '.li', '.contents', '.content', 'active_li')
				})
				// eg： 这是`系统管理`
				$('.nav2').find('.li').click(function() {
					return changeBox.call(this, '.li', '.monitor_controller', '.content', 'active_li')
				})
			})
			
			$(function () {
	           var currentPage = 1;
	           var totalPages = 25;
	           $("#page").bootstrapPaginator({
	               bootstrapMajorVersion:3, //对应的bootstrap版本
	               currentPage: currentPage, //当前页数
	               numberOfPages: 10, //每次显示页数
	               totalPages:totalPages, //总页数
	               shouldShowPage:true,//是否显示该按钮
	               useBootstrapTooltip:true,
	               //点击事件
	               onPageClicked: function (event, originalEvent, type, page) {
	                   
	
	               }
           });

        });

		</script>
	</body>

</html>