<%inherit file="/base.html"/>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../static/css/public.css" rel="stylesheet" />
		<link href="../../static/css/menu.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.bootstrap3.css" />
    	<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.css" />
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="../../static/js/jquery-1.10.2.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../../static/js/bootstrap-paginator.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/menu_min.js"></script>
		<script src="${STATIC_URL}js/csrftoken.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/pager/js/scro.page.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/layer/layer.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".menu ul li").menu();
			});
		</script>
	</head>

	<body>
		<div class="container">
			<div class="nav_left menu" id="textType">
				<div class="logo">
					<p class="p">权限管理系统</p>
				</div>
				<ul>
					<li class="nav1">
						<a class="active" href="javascript:;" id="system_man1" onclick="navType()">系统管理</a>
						<ul id="test" class="test" style="display: block;">
							<li data="${SITE_URL}business_model/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">业务模型</span>
								</a>
							</li>
							<li data="${SITE_URL}application_model/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">应用模型</span>
								</a>
							</li>
							<li data="${SITE_URL}app_relationship_model/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">业务应用关系模型</span>
								</a>
							</li>
							<li data="${SITE_URL}host_relational_model/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">应用主机关系模型</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav1 nav2">
						<a href="javascript:;" id="system_man2">系统管理</a>
						<ul id="test" class="test">
							<li data="${SITE_URL}user_view/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">账号管理</span>
								</a>
							</li>
							<li data="${SITE_URL}role_view/"  class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">角色管理</span>
								</a>
							</li>
							<li  data="${SITE_URL}menu_view/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">资源管理</span>
								</a>
							</li>
							<li  data="${SITE_URL}host_app_mgr_view/" class="li">
								<a href="javascript:;">
									<span class="glyphicon glyphicon-lock"></span>
									<span style="padding-left: 5px;">资源管理</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="nav_top">
				<img src="../../static/img/icom_04.png" class="img" />
				<div class="xt">
					<a href="#">
						<span class="glyphicon glyphicon-lock"></span>
						<span style="padding-left: 5px;">系统管理</span>
					</a>
				</div>
				<div class="jk">
					<a href="#">
						<span class="glyphicon glyphicon-lock"></span>
						<span style="padding-left: 5px;">监控管理</span>
					</a>
				</div>
				<div class="x_right">
					<div class="dropdown">
						<div type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
							admin
							<span class="caret"></span>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="position: absolute;left: -30px;top: 97%;">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">登陆</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">注销</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
		</div>
		<div id="iframe">
			<iframe class="iframe" src="${SITE_URL}business_model/" frameborder="0"></iframe>
		</div>
		<script>
			$(function(){
				$('.test').find('li').click(function(){
					// 获取地址参数
					var $herf = '';
					$herf = $(this).attr('data');
					$('#iframe').find('iframe').attr('src', $(this).attr('data'));
		
				});
			});
		</script>
	</body>

</html>