<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../static/css/public.css" rel="stylesheet" />
		<link href="../../static/css/menu.css" rel="stylesheet" />
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="../../static/js/jquery-1.10.2.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../../static/js/bootstrap-paginator.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/menu_min.js"></script>
		<script src="${STATIC_URL}js/csrftoken.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/pager/js/scro.page.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/layer/layer.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".menu ul li").menu();
			});
		</script>
	</head>

	<body>
		<!-- 业务应用关系模型 -->
		<div class="contents">
			<div class="content">
				<form class="collect">
					<div class="collecting">
						<label>业务名称</label>
						<input type="text" placeholder="业务名称" />
					</div>
					<div class="collecting">
						<label style="padding-left: 40px;">应用名称</label>
						<input type="text" placeholder="应用名称" />
					</div>
					<button type="button" class="glyphicon glyphicon-zoom-in"></button>
					<div class="clearfloat"></div>
				</form>
				<div class="division"></div>
				<form class="click">
					<input type="button" class="button_tow" value="新 建">
					<input type="button" class="button_tow" value="编 辑">
				</form>
				<div class="box">
					<div class="mask"></div>
					<form class="form" id="listForm">
						<div class="group" style="margin-top: 30px;">
							<label for="firstname" class="col-sm-2">业务名称：</label>
							<input type="text" class="control" id="firstname" name="bis_id" placeholder="请输入业务名称">
						</div>
						<div class="group section">
							<label for="lastname" class="col-sm-2">应用名称：</label>
							<input type="text" class="control" id="demo_datetime" name="bis_name" placeholder="请输入应用名称">
						</div>
						<div class="group checkbox">
							<label for="firstname" class="col-sm-2">
							<b>状态：</b>
						</label>
							<input type="radio" name="status" value="1">有效
							<input type="radio" name="status" value="2">无效
						</div>
						<div class="group">
							<div class="col">
								<label for="name" class="col-sm-2">备注：</label>
							</div>
							<textarea id="make" class="form-control" name="mark" rows="3"></textarea>
						</div>
						<div class="form-group">
							<input type="button" onclick="doClick();" class="btn btn-default" value="提 交"/>
						</div>
					</form>
				</div>
				<script>
					$(".mask").click(function() {
						$(".form").hide();
						$(".mask").hide();
					});

					$(".button_tow").click(function() {
						$(".form").show();
						$(".mask").show();
					});
				</script>
				
				<div class="queryBox" style="margin: 10px 10px 10px 10px;">
				<!-- 定义表格框架 -->
					<table id="dataGridTableJson" class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<!-- <th class="selectColumn"></th> -->
								<th>ID</th>
								<th>业务名称</th>
								<th>业务状态</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div id="page3"></div>
			</div>
		</div>
		<!-- 监控管理 -->
		<style>
			
		</style>
		<!-- js -->
		<script>
			$(function () {
	           var currentPage = 1;
	           var totalPages = 25;
	           $("#page").bootstrapPaginator({
	               bootstrapMajorVersion:3, //对应的bootstrap版本
	               currentPage: currentPage, //当前页数
	               numberOfPages: 10, //每次显示页数
	               totalPages:totalPages, //总页数
	               shouldShowPage:true,//是否显示该按钮
	               useBootstrapTooltip:true,
	               //点击事件
	               onPageClicked: function (event, originalEvent, type, page) {
	                   
	
	               }
           });

        });

		</script>
	</body>

</html>