<!DOCTYPE html>
<html>
  <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- <title>开发框架|蓝鲸智云社区版</title> -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="${STATIC_URL}system/statics/foundation-icons/foundation-icons.css" />
		<!--自定义css-->
		<!-- <link href="${STATIC_URL}css/bk.css?v=${STATIC_VERSION}" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/index.css?v=${STATIC_VERSION}"> -->
        <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
<script type="text/javascript">
	var user_is_login = "${request.session['user_is_login']}";
	var user_name = "${request.session['user_name']}";
	var login_code = "${request.session['login_code']}";
	var user_id = "${request.session['user_id']}";
	if (user_is_login == undefined || user_is_login == "False") {
		//alert("请先登录 ！");
		window.setTimeout("window.location='${SITE_URL}login/'", 1000);
	}
	var app_id = "${APP_ID}";
	var site_url = "${SITE_URL}"; // app的url前缀,在ajax调用的时候，应该加上该前缀
	var static_url = "${STATIC_URL}"; // 静态资源前缀
</script>

  </head>

  <body>
    <%block name='content'></%block>
    <!-- jquery js  -->
   	<script src="${STATIC_URL}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="${STATIC_URL}js/jquery.json-2.3.min.js" type="text/javascript"></script>
    <!-- <script src="${STATIC_URL}assets/bootstrap-3.3.4/js/bootstrap.min.js" type="text/javascript"></script> -->
    <!--配置js  勿删-->
    <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>
    <script src="${STATIC_URL}system/statics/plugins/layer/layer.js"></script>
    ${self.body()}
    <!-- 兼容性设置 -->
    <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
  </body>
</html>
